/******************RESET***********************/


*{
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}




/*******************SITE**************************/
body{
    position: relative;
}

.container{
    margin-left: 180px;
    margin-right: 180px;
}

/****************Nav Bar***********************/
header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}




nav{
    display: flex;
    justify-content: space-between;
}

nav img{
    max-width: 64px;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    display: flex;
    padding: 16px;
    align-items: center;
    font-weight: 500;
}
nav ul li a:hover{
    border-bottom: 2px solid rgb(52, 211, 153);
    
    
}

.active{
    border-bottom: 2px solid rgb(52, 211, 153);
    
}

.logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
}


/**************HERO**************/

.hero{
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh;
}

.bg-image{
    background-image: url("/asset/Img/hero_img.webp");
    inset: 0;
    position: absolute;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -2;
    background-position: center;
}

.filtre{
    min-height: 100vh;
    min-width: 100vw;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
}

.text_hero{
    max-width: 768px;
    
}

h1{
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    line-height: 1;
    margin-bottom: 24px;
    overflow: hidden;
}

h1 span{
    color: rgb(52, 211, 153);
    font-weight: 400;
}
.text_hero h3{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    margin-bottom: 32px;
}

.bouton{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.bouton_info{
    padding: 16px 32px;
    background: rgb(5, 150, 105);
    border-radius: 8px;
    justify-content: center;
    color: white;
    font-weight: 600;
    transition:  0.3s ease-in-out;
}

.bouton_info:hover{
    
    background-color: rgb(4, 120, 87);
    cursor: pointer;
    
}

.rdv{
    padding: 16px 32px;
    border: 2px solid white;
    border-radius: 8px;
    justify-content: center;
    color: white;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.rdv:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

/**************Info****************/

.info{
    padding: 80px 0;
    background-color: rgb(250, 250, 250);
}

.titre_info{
    text-align: center;
    margin-bottom: 64px;
    ;
}

.titre_info h2{
    font-weight: 700;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    overflow: hidden;
}

.underline{
    width: 80px;
    height: 4px;
    background-color: rgb(52, 211, 153);
    margin: 0 auto 24px auto;
}

.titre_info p{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    line-height: 28px;
}

.service{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    padding: 16px;
    
}
.reflexo, .aroma, .reboutage{
    border-radius: 12px;
    background-color: white;
    box-shadow:
    0 0 0 0 transparent, /* --tw-ring-offset-shadow (fallback) */
    0 0 0 0 transparent, /* --tw-ring-shadow (fallback) */
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}
.img_ref{
    height: 192px;
    overflow: hidden;

}
.img_ref img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text_info{
    padding: 24px;
}

.text_info h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 12px;
}
.text_info .txt{
    margin-bottom: 16px;
    color: rgb(82, 82, 82);
}
.duree{
    margin-bottom: 16px;
    font-size: 14px;
    color: rgb(115, 115, 115);
    font-weight: 500;
}
.bienfait{
    margin-bottom: 8px;
    font-size: 14px;
    color: rgb(64, 64, 64);
    font-weight: 500;
}

.list_bien li{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    color: rgb(82, 82, 82);
}

.list_bien li span{
    border-radius: 9999px;
    background-color: rgb(16, 185, 129);
    width: 6px;
    height: 6px;
    margin-right: 8px;
}

.text_info a{
    background-color: rgb(5, 150, 105);
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    transform: all 0.3s ease-in-out;
}

.text_info a:hover{
    background-color: rgb(4, 120, 87);
    cursor: pointer;
}


/************Mutuelle*****************/

.mutuelle{
    padding: 80px 0;
    background-color: rgb(236, 253, 245);
}

.mutuelle_titre{
    text-align: center;
    max-width: 768px;
    margin: 0 auto 48px auto;
}

.mutuelle_titre h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    overflow: hidden;
    margin-bottom: 16px;

}
.underline_mut{
    width: 80px;
    height: 4px;
    background-color: rgb(16, 185, 129);
    margin: 0 auto 24px auto;
}

.mutuelle_titre p{
    font-size: 18px;
    line-height: 28px;
    color: rgb(82, 82, 82);
}

.info_mutuelle{
    margin: 0 auto;
    max-width: 896px;
}

.mutuelle_corps{
    background: white;
    border-radius: 16px;
    padding: 48px;
    box-shadow:
    0 0 0 0 transparent, 
    0 0 0 0 transparent, 
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
    margin: 16px;
}

.svg_center{
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.svg_radius{
    background: rgb(209, 250, 229);
    padding: 24px;
    border-radius: 9999px;
}

.svg_radius svg{
    display: block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    color: rgb(5, 150, 105);
}


.mutuelle h3{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}


.mutuelle_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-bottom: 32px;
    gap: 24px;
}

.mutuelle_grid div{
    background: rgb(236, 253, 245);
    padding: 24px;
    text-align: center;
    border-radius: 12px;

}

.mutuelle_grid h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px;
}

.mutuelle_grid p{
    color: rgb(5, 150, 105);
    font-weight: 500;

}

.mutuelle_partenaire{
    padding: 24px;
    background: rgb(250, 250, 250);
    border-radius: 12px;
    margin-bottom: 32px;
}
.mutuelle_partenaire h4{
    
}